.send-sol {
    padding: 20px;
    /*border: 1px solid #494949;*/
    border-radius: 5px;
    width: 385px;
    height: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /*background-color: #333;*/
    background-color: #ffffff;
    text-align: center;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
}

.send-sol .title h2 {
    font-size: 16px;
    color: #000000;
}

.send-sol .send-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.send-sol .send-form input {
    padding: 10px;
    background: transparent;
    border: 0.5px solid;
    border-radius: 4px;
    font-size: 16px;
    width: calc(100% - 22px);
    height: 30px;
    color: #494949;
}

.send-sol .send-form label {
    margin-top: 5px;
    font-size: 12px;
    width: calc(100% - 22px);
    color: #494949;
    text-align: left;
}

.send-sol .send-form input:focus {
    /*border-color: #c40d83;*/
    outline: none;
    box-shadow: 0 0 4px rgb(48, 65, 124);
}

.send-sol .send-button {
    padding: 10px;
    height: 58px;
    /*background: linear-gradient(25deg, #c40d83, #4f075d);*/
    background-color: #2a50d7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, opacity 0.3s ease;
}

.send-sol .send-button:hover {
    background-color: #000;
    opacity: 0.8;
}