.history-card {
    border-radius: 5px;
    width: 100%;
    margin-top: 10px;
    background-color: #ffffff;
    overflow: hidden;

}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.title h2 {
    margin: 0;
    font-size: 16px;
}

.refresh-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.refresh-button img {
    width: 24px;
    height: 24px;
}

.refresh-button:hover {
    transform: rotate(90deg);
}

.table-container {
    width: 100%;
    overflow-x: auto;
}

.transaction-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border-radius: 20px;
}

.transaction-table th {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #555;
}

.transaction-table td {
    padding: 12px;
    text-align: left;
}

.transaction-table th {
    color: #a3a4a4;
    font-size: 12px;
}

.transaction-table td {
    background: transparent;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
}

.pointer-cursor {
    cursor: pointer;
    font-weight: bold;
}

.pointer-cursor:hover {
    text-decoration: underline;
    color: #2a50d7;
}

.pointer-cursor .copy-icon {
    width: 14px;
    height: 14px;
    margin-right: 10px;
}

.transaction-table td span.success {
    color: #4caf50;
    font-weight: bold;
}

.transaction-table td span.error {
    color: red;
    font-weight: bold;
}

.no-history-text {
    text-align: center;
}


@media (max-width: 768px) {

    .title {
        align-items: center;
    }

    .title h2 {
        font-size: 14px;
    }

    .transaction-table th, .transaction-table td {
        padding: 8px;
        font-size: 12px;
    }

    .refresh-button img {
        width: 30px;
        height: 30px;
    }

    .pointer-cursor .copy-icon {
        width: 12px;
        height: 12px;
        margin-right: 5px;
    }
}